/* #fed428 #6aaddf #ffffff #f05d31 #d5e4a1 */
@font-face {
  font-family: "Simpsons";
  src: local("Simpsons"), url(font/Simpsonfont-p07r.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Simpsons";
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #a4e5ff;
}

.font-regular {
  font-family: "Arial", sans-serif;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 3.2rem;
  margin-top: 0;
}

h3 {
  font-size: 2.4rem;
}

main {
  min-height: calc(100vh - 252px);
  padding: 64px 0;
}

header {
  padding: 16px 0 20px;
  background: #ffffff;
  border-bottom: 3px solid #000;
}

footer {
  background: #ffffff;
  padding: 8px 0;
  border-top: 3px solid #000;
}

footer .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 700px) {
  footer .inner {
    display: flex;
    flex-direction: column;
  }
}

footer a,
footer a:hover,
footer a:focus,
footer a:active,
footer a:visited {
  color: #000;
}

footer a:hover {
  text-decoration: none;
}

.inner {
  width: 1200px;
  max-width: 100%;
  padding: 0 64px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .inner {
    padding: 0 32px;
  }
}

form {
  margin-bottom: 64px;
}

button {
  font-family: "Simpsons";
  background: #fed428;
  color: #000;
  font-size: 2.4rem;
  border: 3px solid #000;
  box-shadow: none;
  border-radius: 0;
  appearance: none;
  padding: 0px 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  gap: 8px;
}

button:hover {
  background: #000;
  color: #fff;
}

input {
  height: 61px;
  background: #fff;
  border: 3px solid #000;
  font-size: 2.4rem;
}

@media (max-width: 1000px) {
  input:not([type="submit"]) {
    border-bottom: none;
  }
}

input:not([type="submit"]) {
  padding: 10px;
  width: 300px;
  max-width: 100%;
}

@media (max-width: 1000px) {
  input:not([type="submit"]) {
    width: 100%;
  }
}

input[type="submit"] {
  font-family: "Simpsons";
  background: #fed428;
  cursor: pointer;
  padding: 8px 32px;
  position: relative;
  right: 5px;
}

@media (max-width: 1000px) {
  input[type="submit"] {
    position: static;
    width: 100%;
  }
}

input[type="submit"]:hover {
  background: #000;
  color: #fff;
}

label,
.label {
  display: block;
  font-size: 2.4rem;
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
}

@media (max-width: 1000px) {
  .form-row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
  }
}

section {
  padding: 0 0 32px;
}

.steps ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 16px 0 0;
  gap: 8px;
}

@media (max-width: 700px) {
  .steps ul {
    flex-direction: column;
  }
}

button.step {
  cursor: pointer;
}

.step {
  appearance: none;
  background: lightgrey;
  color: grey;
  border: 3px solid grey;
  border-radius: 0;
  padding: 0px 32px;
  height: 61px;
  font-size: 2.4rem;
  font-family: "Simpsons";
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  gap: 8px;
}

.step.current {
  color: #fff;
  background: #000;
  border: 3px solid #000;
}

.step.clickable {
  color: #000;
  background: #fed428;
  border: 3px solid #000;
}

.step.clickable:hover {
  color: #fff;
  background: #000;
}

.preview-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 59px;
  margin-bottom: 32px;
}

img {
  max-width: 100%;
  display: block;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
  position: relative;
}

@media (max-width: 1000px) {
  .columns {
    gap: 32px;
  }
}

@media (max-width: 700px) {
  .columns {
    flex-direction: column;
  }
}

.columns > div {
  width: 50%;
}

.column-fixed {
  position: sticky;
  top: 0px;
  padding-top: 64px;
}

@media (max-width: 700px) {
  .column-fixed {
    position: static;
    padding-top: 0px;
  }

  .columns > div {
    width: 100%;
  }
}

.images-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.images-list button {
  appearance: none;
  background: transparent;
  border: 4px solid transparent;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  border: 4px solid transparent;
  height: inherit;
}

.images-list button:hover {
  border: 4px solid #fff;
}

.preview {
  padding: 8px;
  background-image: url(images/t-shirt.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 390px;
  padding: 92px 0 0;
  text-align: center;
}

.preview img {
  width: 128px;
  margin: 0 auto;
}

.preview p {
  width: 220px;
  margin: 0 auto;
}

.design img {
  margin: 0 auto;
}

.design {
  text-align: center;
}

.design-text {
  font-size: 5.6rem;
  margin-top: 30px;
  line-height: 1.1;
}

.t-shirt-content p {
  font-size: 1.1rem;
}

.download-button {
  margin: 64px auto;
}

.text-container {
  width: 550px;
  max-width: 100%;
}
